<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>It's a <%=kindOfDay%>!</h1>
<h2>And since it's a <%=theday%>, that means it's time to party!</h2>
  </body>
</html>
